@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,100;8..30,200;8..30,300;8..30,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    font-size: large;
    
}
.body{
    background-color: azure;
}

:root{
    --main-bg : black;
    --main-color: white;
}

html {
    font-size: 62.5%;
}

.row{
    margin: 0;
}

/* .main_menu{
    background-color: var(--main-bg);
} */

.navbar .container-fluid a:hover{
    color: lightskyblue;
}

.main_header_left{
    padding-left: 10rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_header_left p{
    font-weight: bold;
    color: gray;
}

.main_header_left h2{
    font-weight: 800;
    color: #020906;
}
.main_header_left h2 span{
    font-size: larger;
    color: #9F24AD;
}

.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #04ff00cf;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0px 4px #888888;
}

.main_header_right{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_right img{
    height: 500px;
}

footer{
    width: 100%;
    background-color: gray;
    margin-top: auto;
}

footer p{
    margin: 0;
    text-align: center;
    color: rgb(8, 11, 0);
    line-height: 300%;
    font-size: small;
}